@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Newsreader:wght@300;400&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bodoni Moda', serif;
  font-family: 'Newsreader', serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
